*,
*:before,
*:after { 
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --main-theme-color: rgb(240, 153, 23);
    --main-background-color: rgb(226, 238, 245);
    --nav-color: rgb(29, 45, 54);
}

body {
    height: 100vh;
}

main#grid-container {
    display: grid;
    grid: 
    [row1-start] "nav header header" 2fr [row1-end]
    [row2-start] "nav article aside" 5fr [row2-end]
    [row3-start] "nav article aside" 5fr [row3-end]
    / minmax(220px, 15%) minmax(350px, 65%) minmax(300px, 20%);

    height: 100%;
    overflow: auto;
}


header {
    grid-area: header;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 100;

    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 20px;
}

#first-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 15px;
}

#search-wrapper {
    display: flex;
    align-items: center;
    flex: content;
}

.search-icon {
    background: url("./images/search.svg") center center / cover no-repeat;
    width: 30px;
    height: 30px;

    margin-right: 20px;
}

input[type=text] {
    border-radius: 10px;
    border: 1px solid rgb(221, 220, 220);
    background-color: rgb(221, 220, 220);

    width: 100%;
    padding: 4px;
}

#user-info {
    display: flex;    
    flex: content;
    align-items: center;
    justify-content: flex-end;
}

#user-info p {
    font-weight: bolder;
}

.alert-icon {
    background: url("./images/bell.svg") center center / cover no-repeat;
    width: 30px;
    height: 30px;

    margin-right: 20px;
}

.profile-icon {
    background: url("./images/Upstream-1.svg") center center / cover no-repeat;
    width: 40px;
    height: 40px;

    margin-right: 20px;
}

#second-row {
    display: flex;
    justify-content: space-between;
}

#user-info-big {
    display: flex;
    align-items: center;
}

.profile-icon-big {
    background: url("./images/Upstream-1.svg") center center / cover no-repeat;
    width: 60px;
    height: 60px;

    margin-right: 20px;
}

.profile-icon-text-big {
    font-size: 20px;
    font-weight: bold;
}

#user-buttons {
    display: flex;
    align-items: center;
}

#user-buttons button {
    background-color: var(--main-theme-color);
    color: black;

    border: 2px solid var(--main-theme-color);
    border-radius: 2px;

    font-weight: bold;
        
    margin-left: 20px;    
    padding: 10px 30px 10px 30px;
}

#user-buttons button:hover {
    background-color: white;
    border: 2px solid var(--main-theme-color);
}

nav .nav-box,
div.card,
aside div.aside-box {
    overflow: auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

nav {
    grid-area: nav;

    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;

    background-color: var(--nav-color);
    color: white;

    font-weight: bolder;

    padding: 20px 0px 5px 0px;
}

nav .nav-row:not(.nav-row.one) {
    display: flex;
    align-items: center;

    padding: 12px 0px 12px 0px;
    padding-left: 15%;
}

nav .nav-row:not(.nav-row.one):hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 5px solid var(--main-theme-color);
}

nav .nav-row:not(.nav-row.one) {
    font-weight: 100;
}

nav .nav-row.one, 
nav .nav-row.seven {
    margin-bottom: 60px;
}

.nav-row.one {
    display: flex;
    align-items: center;
    padding: 0px 0px 12px 0px;
    padding-left: 15%;
    font-weight: bolder;
    font-size: 2rem;
}

nav .nav-row .image {
    width: 30px;
    height: 30px;

    margin-right: 15px;
}

nav .nav-row.two .image { background: url("./images/home.svg") center center / cover no-repeat; }
nav .nav-row.three .image { background: url("./images/user.svg") center center / cover no-repeat; }
nav .nav-row.four .image { background: url("./images/message-square.svg") center center / cover no-repeat; }
nav .nav-row.five .image { background: url("./images/archive.svg") center center / cover no-repeat; }
nav .nav-row.six .image { background: url("./images/check-square.svg") center center / cover no-repeat; }
nav .nav-row.seven .image { background: url("./images/users.svg") center center / cover no-repeat; }
nav .nav-row.eight .image { background: url("./images/settings.svg") center center / cover no-repeat; }
nav .nav-row.nine .image { background: url("./images/phone-call.svg") center center / cover no-repeat; }
nav .nav-row.ten .image { background: url("./images/shield.svg") center center / cover no-repeat; }

article,
div.card,
aside,
aside div.aside-box {
    padding: 20px;
    
}

article h2,
aside h2 {
    padding-bottom: 10px;
}

article {
    grid-area: article;

    background-color: var(--main-background-color);

    height: 100%;
    overflow: auto;

    padding-bottom: 10px;
}

div#card-wrapper {
    display: grid;
    grid: repeat(3, minmax(10px, 1fr)) / repeat(2, minmax(10px, 1fr)); 
    gap: 30px;
}

div.card {
    background-color: white;

    height: 200px;

    border-left: 6px solid var(--main-theme-color);
}

div.card {
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 30%;
}

div.card.one { background-image: url("./images/seo_illustrations_1.svg"); }
div.card.two { background-image: url("./images/seo_illustrations_2.svg"); }
div.card.three { background-image: url("./images/seo_illustrations_3.svg"); }
div.card.four { background-image: url("./images/seo_illustrations_4.svg"); }
div.card.five { background-image: url("./images/seo_illustrations_5.svg"); }
div.card.six { background-image: url("./images/seo_illustrations_6.svg"); }

div.card p {
    width: 77%;
}

aside {
    grid-area: aside;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-color: rgb(226, 238, 245);

    height: 100%;
    overflow: auto;

    padding-bottom: 10px;

}

aside div.aside-box {
    background-color: white;
}

.aside-box hr {
    margin: 10px 0px 10px 0px;
    opacity: 0.4;
}

#bulletin > .aside-box {
    margin-bottom: 20px;
}

#trending > .aside-box {
    display: flex;
    flex-direction: column; 
}

#trending .trend {
    display: flex;
    align-items: center;
}

.trend.one,
.trend.two,
.trend.three {
    margin-bottom: 20px;
}

.trend .image {
    width: 50px;
    height: 50px;

    margin-right: 10px;
}

.trend.one .image { background: url("./images/Teamwork-1.svg") center center / cover no-repeat; }
.trend.two .image { background: url("./images/Teamwork-2.svg") center center / cover no-repeat; }
.trend.three .image { background: url("./images/Teamwork-3.svg") center center / cover no-repeat; }
.trend.four .image { background: url("./images/Teamwork-4.svg") center center / cover no-repeat; }
